$radius-large: 12px;
$radius: 7px;
$box-shadow: 0px 7px 25px rgba(10, 10, 10, 0.07), 0 0 1px rgba(10, 10, 10, 0.15);
$box-padding: 1rem;
$navbar-box-shadow-size: 0px 5px 25px;
$navbar-box-shadow-color: rgba(10, 10, 10, 0.07);
$background: #fff;
$input-shadow: 0;
