$light: #565656;
$light-invert: #eaeaea;
$text: $light-invert;
$text-strong: $text;
$title-color: $text-strong;
$border: $light;
$label-color: $text;
$navbar-item-color: $text;
$navbar-item-hover-color: #353535;
