$radius-large: 12px;
$radius: 7px;
$box-shadow: 0px 7px 25px rgba(10, 10, 10, 0.07), 0 0 1px rgba(10, 10, 10, 0.15);
$box-padding: 1rem;
$navbar-box-shadow-size: 0px 5px 25px;
$navbar-box-shadow-color: rgba(10, 10, 10, 0.07);
$background: $white;
$input-shadow: 0;
$modal-content-width: 600px;

$gray-if-dark-mode: $grey-lighter;

$box-background-color: $grey-lighter;
$navbar-background-color: $grey-lighter;

$modal-background-background-color: rgba(0, 0, 0, 0.81);
$loading-background: $modal-background-background-color;

$modal-card-head-background-color: $grey-lighter;
