body {
    padding-top: env(safe-area-inset-top);
}
html, body {
    height: 100%;
}
:root {
    --sat: env(safe-area-inset-top);
    --sab: env(safe-area-inset-bottom);
}
.dialog .modal-card {
    .modal-card-head {
        font-weight: 700;
    }
    .modal-card-foot {
        justify-content: flex-start;
    }
}
.animation-content {
    padding: 15px;
}
.notices .toast {
    position: absolute;
}
