body {
    padding-top: env(safe-area-inset-top);
}
html, body {
    height: 100%;
    width: 100%;
}
:root {
    --sat: env(safe-area-inset-top);
    --sab: env(safe-area-inset-bottom);
}
.dialog .modal-card {
    .modal-card-head {
        font-weight: 700;
    }
    .modal-card-foot {
        justify-content: flex-start;
    }
}
.animation-content {
    padding: 15px;
}
.notices .toast {
    position: absolute;
}
.fade-enter-active, .fade-leave-active {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
}
.gray-in-dark-mode {
    $gray-if-dark-mode: #fff !default;
    background-color: $gray-if-dark-mode;
}
.loading-overlay {
    z-index: unset;
}
